.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainHeading{
    text-align: center;
    margin: 3rem 0;
}
.section{
    display: flex;
    /* align-items: center; */
   
}
.contacts{
    background-color: rgb(163, 167, 224);
    flex: 1;
}
.contact{
    background-color: aquamarine;
    margin: 1rem;
    padding: 1rem;
}
.chats{
    flex: 2;
    background-color: antiquewhite;
}
.chat{
    padding: 1rem;
    margin:1rem;
    background-color: violet;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}
.message{

}

.sender{
    font-size: .8rem;
    font-weight: 700;
}
